<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jimei.xiaolumeimei">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="com.jimei.xiaolumeimei.permission.MIPUSH_RECEIVE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <permission
        android:name="com.jimei.xiaolumeimei.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature"/>

    <application
        android:name=".XlmmApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="design_width"
            android:value="720"/>
        <meta-data
            android:name="design_height"
            android:value="1230"/>
        //友盟统计相关
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${UMENG_APPKEY}"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${CHANNEL_NAME}"/>
        <meta-data
            android:name="com.jimei.library.widget.glidemoudle.GlideConfig"
            android:value="GlideModule"/>
        <meta-data
            android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule"
            android:value="GlideModule"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.jimei.xiaolumeimei.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <activity
            android:name=".ui.activity.main.SplashActivity"
            android:theme="@style/StartTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.main.TabActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.TransparentActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="app"
                    android:path="/v1/products/promote_today"
                    android:scheme="com.jimei.xlmm"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="app"
                    android:path="/v1/products/promote_previous"
                    android:scheme="com.jimei.xlmm"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="app"
                    android:path="/v1/home"
                    android:scheme="com.jimei.xlmm"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.user.LoginActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.user.RegisterActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.trade.CartsPayInfoActivity"
            android:theme="@style/AppTheme.TransparentActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="app"
                    android:path="/v1/trades/purchase"
                    android:scheme="com.jimei.xlmm"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.user.ChangeAddressActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".util.pay.PayActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.TransparentActivity.NoTitle"/>
        <!-- 支付宝 sdk -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"/>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"/>
        <activity
            android:name=".ui.activity.trade.AllOrdersActivity"
            android:label="@string/title_activity_allorders"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.trade.OrderDetailActivity"
            android:theme="@style/AppTheme.TransparentActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="app"
                    android:path="/v1/trades/details"
                    android:scheme="com.jimei.xlmm"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.trade.AllRefundsActivity"
            android:theme="@style/AppTheme.TransparentActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="app"
                    android:path="/v1/refunds"
                    android:scheme="com.jimei.xlmm"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.user.InformationActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.user.AddressActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.user.WalletActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.user.AddAddressActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.user.AddressSelectActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.user.SettingNicknameActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.user.SettingPasswordForgetActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.user.VerifyPhoneActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.user.VerifyPhoneForgetActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.user.EditPasswordForgetActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.user.CoinActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.main.CompanyInfoActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.user.SmsLoginActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.trade.ApplyRefundActivity"
            android:theme="@style/AppTheme.TransparentActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name=".ui.activity.trade.ApplyReturnGoodsActivity"
            android:theme="@style/AppTheme.TransparentActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name=".ui.activity.trade.ChooseLogisticsCompanyActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.trade.WriteLogisticsInfoActivty"
            android:theme="@style/AppTheme.TransparentActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".base.CommonWebViewActivity"
            android:theme="@style/AppTheme.TransparentActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="app"
                    android:path="/v1/webview"
                    android:scheme="com.jimei.xlmm"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent100371282"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.xiaolumama.MamaVisitorActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.user.WxLoginBindPhoneActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.xiaolumama.MMShoppingListActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.xiaolumama.MMNinePicActivity"
            android:theme="@style/AppTheme.TransparentActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="app"
                    android:path="/v1/vip_0day"
                    android:scheme="com.jimei.xlmm"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.xiaolumama.ImagePagerActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.user.WxPubTwoDimenCodeActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.xiaolumama.MMStoreWebViewActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.xiaolumama.MMCarryLogActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.xiaolumama.MMCarryActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.xiaolumama.MMShareCodeWebViewActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.user.SettingActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.main.ActivityWebViewActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.trade.RefundDetailActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.trade.LogisticsActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.user.UserDrawCashActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.user.WalletDetailActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.user.DrawCashResultActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.main.DebugActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.user.PhoneLoginActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.user.DrawCashDetailActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.user.WaitSendAddressActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.xiaolumama.MMFansActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.trade.CartActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.TransparentActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="app"
                    android:path="/v1/shopping_cart"
                    android:scheme="com.jimei.xlmm"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.user.AllCouponActivity"
            android:theme="@style/AppTheme.TransparentActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="app"
                    android:path="/v1/usercoupons/method"
                    android:scheme="com.jimei.xlmm"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.user.SelectCouponActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.product.ProductListActivity"
            android:theme="@style/AppTheme.TransparentActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="app"
                    android:path="/v1/products/childlist"
                    android:scheme="com.jimei.xlmm"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="app"
                    android:path="/v1/products/ladylist"
                    android:scheme="com.jimei.xlmm"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="app"
                    android:path="/v1/products/category"
                    android:scheme="com.jimei.xlmm"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.product.ProductDetailActivity"
            android:theme="@style/AppTheme.TransparentActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="app"
                    android:path="/v1/products/modellist"
                    android:scheme="com.jimei.xlmm"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="app"
                    android:path="/v1/products/modelist"
                    android:scheme="com.jimei.xlmm"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="app"
                    android:path="/v1/products"
                    android:scheme="com.jimei.xlmm"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.product.CategoryProductActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.xiaolumama.OrderLogisticActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.xiaolumama.MamaChooseActivity"
            android:theme="@style/AppTheme.TransparentActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="app"
                    android:path="/v1/vip_choice"
                    android:scheme="com.jimei.xlmm"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.trade.CommonScanActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.main.AdvertisementActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.product.SearchActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.user.UserActivity"
            android:theme="@style/AppTheme.TransparentActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="app"
                    android:path="/v1/vip_home"
                    android:scheme="com.jimei.xlmm"/>
            </intent-filter>
        </activity>

        <service
            android:name=".service.UpdateService"
            android:exported="false"/>
        <service
            android:name="com.xiaomi.push.service.XMPushService"
            android:enabled="true"
            android:process=":pushservice"/>
        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true"/>
        <service
            android:name="com.xiaomi.push.service.XMJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":pushservice"/>
        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true"/>
        <!-- 注：此service必须在2.2.5版本以后（包括2.2.5版本）加入 -->
        <receiver
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.xiaomi.push.service.receivers.PingReceiver"
            android:exported="false"
            android:process=":pushservice">
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.mipush.XiaoMiMessageReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.UpdateBroadReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="action.retry.download"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>